<header>
    <nav>
        <div class="nav-flex-container bg-light">
            <a href="{{ site.baseurl }}/" class="nav-title">
                <strong>Silly Funny Story</strong>
            </a>

            <div class="menu-wrap bg-light">
                <input type="checkbox" class="toggler">
                <div class="hamburger"><div></div></div>
                <div class="menu">
                    <div>
                        <div>
                            <li><a href="{{ site.baseurl }}/">Home</a></li>
                            <li><a href="/aboutme/">README</a></li>
                            <li><a href="/topic-list/">Topics</a></li>
                            <li><a href="/fun/">Fun</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/contact/">Contact</a></li>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</header>