@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Navigation Bar */

.navigation-bar {
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 10px 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: rgb(125, 224, 125);
    color: #edf0f1;
    box-shadow: 1px 1px 5px 1px rgb(184, 181, 181);
    z-index: 100;
}

nav {
   line-height: 20px;
}

.brand-name {
    cursor: pointer;
    font-weight: bold;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 5px 20px;
}

.nav-links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}

.nav-links li a:hover {
    color: gray;
}

.about-me button {
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 50px;
    background: rgb(109, 180, 197);
    color: white;
    box-shadow: 1px 0px 3px 0px rgb(117, 147, 155);
    font-size: 12px;
    font-weight: bold;
}

.about-me button:hover {
    background: rgb(56, 164, 190);
}
