/* Reset all element */
* {
    margin: 0;
    padding: 0;
}

/* The whole page  */
html {
    font-family: 'Mukta', sans-serif;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 1rem;
    }

    .ava {
        position: none;
        top: -22px;
        left: 300px;
    }
}

/* Home Button */
.back {
    text-align: center;
    margin-top: 25px;
}


/* Post List */
.PostList {
    position: relative;
    display: flex;
    flex-direction: column;
}

.postSingle {
    margin-top: 50px;
}

.date {
    margin-top: -10px;
    margin-left: 50px;
}


/* avatar */
.ava {
    position: absolute; 
    width: 100px; border-radius: 50%; 
    height: 100px; 
    left: 45%; 
    top: -15px;
}