* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Mukta', sans-serif;
    font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 1rem;
    }
}

.back {
    text-align: center;
    margin-top: 25px;
}

.PostList {
    position: relative;
    display: flex;
    flex-direction: column;
}

.postSingle {
    margin-top: 50px;
}

.date {
    margin-top: -10px;
    margin-left: 50px;
}