.keywords-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    .keyword {
        margin: 10px 10px;
        padding: 3px;
        padding-top: 6px;
        a {
            color: rgb(70, 66, 66);
        }
    }
}

.keyword1 {
    border: solid 1px rgb(216, 213, 63);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword2 {
    border: solid 1px rgb(72, 197, 72);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword3 {
    border: solid 1px rgb(74, 187, 207);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword4 {
    border: solid 1px rgb(216, 45, 22);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword5 {
    border: solid 1px rgb(80, 25, 230);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}

.keyword6 {
    border: solid 1px rgb(17, 194, 26);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword7 {
    border: solid 1px rgb(216, 40, 122);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword8 {
    border: solid 1px #313D5A;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword9 {
    border: solid 1px #FF570A;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword10 {
    border: solid 1px #653239;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword11 {
    border: solid 1px #d45151;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword12 {
    border: solid 1px #4F5D2F;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword13 {
    border: solid 1px #5AD2F4;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword14 {
    border: solid 1px rgb(229, 255, 0);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword15 {
    border: solid 1px #646881;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword16 {
    border: solid 1px #D90368;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword17 {
    border: solid 1px #F75C03;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword18 {
    border: solid 1px #00CC66;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword19 {
    border: solid 1px #3B322C;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword20 {
    border: solid 1px #F1C40F;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword21 {
    border: solid 1px #72BDA3;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}
.keyword22 {
    border: solid 1px #031A6B;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px;
}