---
layout: default
---
<article>
    <h3 style="padding-top: 1em; text-align: center"><b>{{ page.title }}</b></h3>
    <div>{{ content }}</div>
</article>

<div class="back">
        <a class="home" href="{{site.baseurl}}/"><b>Home</b></a>

        <style>
            
            .home {
                border: 1px solid #80c5e6;
                background-color: #80c5e6;
                box-shadow: 0 0 5px 5px #80c5e6;
                color: #08a0e9;
                border-radius: 10px;
            }

            .home:hover {
                box-shadow: 0px 0px 10px 10px #69e3e7;
            }
        </style>
</div>