---
layout: default
---
<article class='article-story'>
    <h3 style="text-align: center"><b>{{ page.title }}</b></h3>
    <div>{{ content }}</div>

    <style>
        .article-story {
            padding-top: 20vh;
        }

        @media screen and (max-width: 600px){
            .article-story {
                padding-top: 15vh;
            }
        }

        @media (min-width: 600px) and (max-width: 900px){
            .article-story {
                padding-top: 50vh;
            }
        }
    </style>
</article>

<div class="back">
        <a class="home" href="{{site.baseurl}}/"><i class="fas fa-arrow-circle-left"></i></a>

        <style>
            .home {
                color: black;
                font-size: 1.5rem;
            }
        </style>
</div>
