---
layout: "default"
---

<article class='article-post'>
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date: '%B %-d, %Y' }}&nbsp;|&nbsp;
        {% if page.path contains '_posts' %}
        {{page.read}} minute read&nbsp;|&nbsp;{{page.author}}
        {% endif %}
    </p>
    <hr>
    <p class="story">{{ content }}</p>
    <style>
        .article-post {
            padding-top: 20vh;
        }

        @media screen and (max-width: 600px){
            .article-post {
                padding-top: 15vh;
            }
        }

        @media (min-width: 600px) and (max-width: 850px){
            .article-post {
                padding-top: 30vh;
            }
        }
    </style>
</article>

<div class="back">
        <a class="home" href="{{site.baseurl}}/"><i class="fas fa-arrow-circle-left"></i></a>

        <style>
            .home {
                color: black;
                font-size: 1.5rem;
            }
        </style>
</div>